// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Sun Sep 13 05:30:52 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/counter.sv"
// file 1 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/lab2top_jl.sv"
// file 2 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/scanner.sv"
// file 3 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/sev_seg.sv"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 29 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 43 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 79 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab2top_jl
//

module lab2top_jl (input [3:0]sw1, input [3:0]sw2, input [3:0]col, input nreset, 
            input enable, output [1:0]pwr, output [6:0]seg, output [3:0]row, 
            output [3:0]led);
    
    wire [3:0]sw1_c;
    wire [3:0]sw2_c;
    wire [3:0]col_c;
    wire nreset_c;
    wire enable_c;
    wire pwr_c_N_54;
    wire [6:0]seg_c;
    wire [3:0]row_c;
    wire col_c_3__N_78;
    wire col_c_2__N_79;
    wire col_c_1__N_80;
    wire col_c_0__N_81;
    (* is_clock=1 *) wire int_osc;
    wire pwr_c;
    wire [3:0]sw;
    
    wire GND_net, VCC_net, n3, n224;
    
    VHI i2 (.Z(VCC_net));
    (* lut_function="(!(A))" *) LUT4 col_c_2__I_0_1_lut (.A(col_c[2]), .Z(col_c_2__N_79));
    defparam col_c_2__I_0_1_lut.INIT = "0x5555";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A))" *) LUT4 col_c_3__I_0_1_lut (.A(col_c[3]), .Z(col_c_3__N_78));
    defparam col_c_3__I_0_1_lut.INIT = "0x5555";
    IB \sw1_pad[3]  (.I(sw1[3]), .O(sw1_c[3]));
    IB \sw1_pad[2]  (.I(sw1[2]), .O(sw1_c[2]));
    IB \sw1_pad[1]  (.I(sw1[1]), .O(sw1_c[1]));
    (* lut_function="(A+!(B))" *) LUT4 i501_2_lut (.A(enable_c), .B(nreset_c), 
            .Z(n224));
    defparam i501_2_lut.INIT = "0xbbbb";
    IB \sw1_pad[0]  (.I(sw1[0]), .O(sw1_c[0]));
    IB \sw2_pad[3]  (.I(sw2[3]), .O(sw2_c[3]));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_2__I_0_3_lut (.A(sw1_c[2]), 
            .B(sw2_c[2]), .C(pwr_c), .Z(sw[2]));
    defparam sw1_c_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_3__I_0_3_lut (.A(sw1_c[3]), 
            .B(sw2_c[3]), .C(pwr_c), .Z(sw[3]));
    defparam sw1_c_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_0__I_0_3_lut (.A(sw1_c[0]), 
            .B(sw2_c[0]), .C(pwr_c), .Z(sw[0]));
    defparam sw1_c_0__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_1__I_0_3_lut (.A(sw1_c[1]), 
            .B(sw2_c[1]), .C(pwr_c), .Z(sw[1]));
    defparam sw1_c_1__I_0_3_lut.INIT = "0xcaca";
    IB \sw2_pad[2]  (.I(sw2[2]), .O(sw2_c[2]));
    IB \sw2_pad[1]  (.I(sw2[1]), .O(sw2_c[1]));
    (* lut_function="(!(A))" *) LUT4 pwr_c_I_0_1_lut (.A(pwr_c), .Z(pwr_c_N_54));
    defparam pwr_c_I_0_1_lut.INIT = "0x5555";
    IB \sw2_pad[0]  (.I(sw2[0]), .O(sw2_c[0]));
    IB \col_pad[3]  (.I(col[3]), .O(col_c[3]));
    IB \col_pad[2]  (.I(col[2]), .O(col_c[2]));
    IB \col_pad[1]  (.I(col[1]), .O(col_c[1]));
    IB \col_pad[0]  (.I(col[0]), .O(col_c[0]));
    IB nreset_pad (.I(nreset), .O(nreset_c));
    IB enable_pad (.I(enable), .O(enable_c));
    OB \pwr_pad[1]  (.I(pwr_c_N_54), .O(pwr[1]));
    OB \pwr_pad[0]  (.I(pwr_c), .O(pwr[0]));
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    OB \row_pad[3]  (.I(row_c[3]), .O(row[3]));
    OB \row_pad[2]  (.I(row_c[2]), .O(row[2]));
    OB \row_pad[1]  (.I(row_c[1]), .O(row[1]));
    OB \row_pad[0]  (.I(row_c[0]), .O(row[0]));
    OB \led_pad[3]  (.I(col_c_3__N_78), .O(led[3]));
    OB \led_pad[2]  (.I(col_c_2__N_79), .O(led[2]));
    OB \led_pad[1]  (.I(col_c_1__N_80), .O(led[1]));
    OB \led_pad[0]  (.I(col_c_0__N_81), .O(led[0]));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lut_function="(!(A))" *) LUT4 col_c_1__I_0_1_lut (.A(col_c[1]), .Z(col_c_1__N_80));
    defparam col_c_1__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_0__I_0_1_lut (.A(col_c[0]), .Z(col_c_0__N_81));
    defparam col_c_0__I_0_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=10, LSE_RCOL=3, LSE_LLINE=52, LSE_RLINE=57 *) scanner scanning (nreset_c, 
            {row_c}, n224, n3, int_osc);
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) \counter(WIDTH=28,MAX_COUNT=20000000)  segment_counter (int_osc, 
            n224, n3, pwr_c);
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=10, LSE_RCOL=3, LSE_LLINE=40, LSE_RLINE=43 *) sev_seg segment_decoder ({seg_c}, 
            {sw});
    
endmodule

//
// Verilog Description of module scanner
//

module scanner (input nreset_c, output [3:0]row_c, input n224, output n3, 
            input int_osc);
    
    wire [24:0]scan_count;
    wire scan_clk;
    (* is_clock=1 *) wire int_osc;
    
    wire n788, n750, n1179, n1091, n1090, n1053, n551, n554, 
        n4, n547, n772, n782, n543, n1087, n766;
    
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i2_3_lut (.A(n788), .B(scan_clk), 
            .C(n1179), .Z(row_c[0]));
    defparam i2_3_lut.INIT = "0x0808";
    (* lut_function="(!((B)+!A))" *) LUT4 i12_2_lut (.A(scan_clk), .B(n788), 
            .Z(row_c[1]));
    defparam i12_2_lut.INIT = "0x2222";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(scan_count[20]), .B(scan_count[21]), 
            .Z(n1090));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_9 (.A(scan_count[17]), 
            .B(scan_count[16]), .Z(n551));
    defparam i1_2_lut_adj_9.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_10 (.A(scan_count[14]), 
            .B(scan_count[13]), .Z(n554));
    defparam i1_2_lut_adj_10.INIT = "0xeeee";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut (.A(scan_count[7]), 
            .B(scan_count[10]), .C(scan_count[9]), .D(scan_count[8]), 
            .Z(n4));
    defparam i1_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut (.A(n554), .B(scan_count[11]), 
            .C(scan_count[12]), .D(n4), .Z(n1053));
    defparam i2_4_lut.INIT = "0xfefa";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i662_4_lut (.A(n551), 
            .B(scan_count[18]), .C(n1053), .D(scan_count[15]), .Z(n772));
    defparam i662_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i672_4_lut (.A(scan_count[20]), 
            .B(scan_count[21]), .C(n772), .D(scan_count[19]), .Z(n782));
    defparam i672_4_lut.INIT = "0xeccc";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut_adj_11 (.A(scan_count[24]), 
            .B(n782), .C(scan_count[23]), .D(scan_count[22]), .Z(n788));
    defparam i2_4_lut_adj_11.INIT = "0xfefa";
    (* lut_function="(A (B))" *) LUT4 i640_2_lut (.A(scan_count[8]), .B(scan_count[9]), 
            .Z(n750));
    defparam i640_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i656_4_lut (.A(n750), 
            .B(n543), .C(n1087), .D(scan_count[10]), .Z(n766));
    defparam i656_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_12 (.A(n766), 
            .B(n1090), .C(scan_count[19]), .D(n547), .Z(n1091));
    defparam i1_4_lut_adj_12.INIT = "0xc8c0";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i931_4_lut (.A(scan_count[24]), 
            .B(n1091), .C(scan_count[23]), .D(scan_count[22]), .Z(n1179));
    defparam i931_4_lut.INIT = "0xfaea";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i294_3_lut_3_lut (.A(scan_clk), 
            .B(n788), .C(n1179), .Z(row_c[2]));
    defparam i294_3_lut_3_lut.INIT = "0x0404";
    (* lut_function="(A (C)+!A ((C)+!B))" *) LUT4 i1085_2_lut_3_lut (.A(scan_clk), 
            .B(n788), .C(n1179), .Z(row_c[3]));
    defparam i1085_2_lut_3_lut.INIT = "0xf1f1";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) \counter(MAX_COUNT=12000000)  scanner_counter (n1087, 
            scan_count[16], int_osc, n224, scan_count[14], scan_count[12], 
            n3, n547, scan_count[9], scan_count[11], scan_count[21], 
            scan_count[7], scan_count[8], n543, scan_count[10], n1090, 
            scan_count[19], scan_count[24], scan_count[23], scan_count[22], 
            nreset_c, scan_count[18], scan_clk, scan_count[13], scan_count[17], 
            scan_count[15], scan_count[20]);
    
endmodule

//
// Verilog Description of module \counter(MAX_COUNT=12000000) 
//

module \counter(MAX_COUNT=12000000)  (output n1087, output \scan_count[16] , 
            input int_osc, input n224, output \scan_count[14] , output \scan_count[12] , 
            output n3, output n547, output \scan_count[9] , output \scan_count[11] , 
            output \scan_count[21] , output \scan_count[7] , output \scan_count[8] , 
            output n543, output \scan_count[10] , input n1090, output \scan_count[19] , 
            output \scan_count[24] , output \scan_count[23] , output \scan_count[22] , 
            input nreset_c, output \scan_count[18] , output scan_clk, 
            output \scan_count[13] , output \scan_count[17] , output \scan_count[15] , 
            output \scan_count[20] );
    
    wire [24:0]scan_count;
    (* is_clock=1 *) wire int_osc;
    
    wire VCC_net, GND_net;
    wire [24:0]n34;
    
    wire n1783;
    wire [24:0]n132;
    
    wire n14, n13, n4, n20, n1780, n544, n1092, n1789, n867, 
        n33, n1786, n863, n861, n1792, n851, n865, n1759, n859, 
        n847, n1714, n857, n1777, n855, n1774, n853, n1771, 
        n1768, n849, n1765, n1762, n845;
    
    (* lse_init_val=0, LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ clk_state (.D(n33), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_clk));
    defparam clk_state.REGSET = "RESET";
    defparam clk_state.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(\scan_count[12] ), .B(\scan_count[11] ), 
            .Z(n1087));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(scan_count[2]), 
            .B(scan_count[5]), .C(scan_count[3]), .D(scan_count[1]), .Z(n14));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(scan_count[0]), 
            .B(scan_count[6]), .C(scan_count[4]), .D(\scan_count[7] ), 
            .Z(n13));
    defparam i5_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i137_4_lut (.A(n13), 
            .B(\scan_count[9] ), .C(\scan_count[8] ), .D(n14), .Z(n20));
    defparam i137_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(n20), 
            .B(n543), .C(n1087), .D(\scan_count[10] ), .Z(n544));
    defparam i1_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_7 (.A(n544), 
            .B(n1090), .C(\scan_count[19] ), .D(n547), .Z(n1092));
    defparam i1_4_lut_adj_7.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i128_4_lut (.A(n1092), 
            .B(\scan_count[24] ), .C(\scan_count[23] ), .D(\scan_count[22] ), 
            .Z(n4));
    defparam i128_4_lut.INIT = "0xfcec";
    (* lut_function="(!((B)+!A))" *) LUT4 i526_2_lut (.A(n132[0]), .B(n4), 
            .Z(n34[0]));
    defparam i526_2_lut.INIT = "0x2222";
    (* lut_function="(!(A))" *) LUT4 i5_1_lut (.A(nreset_c), .Z(n3));
    defparam i5_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i1 (.D(n34[1]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[1]));
    defparam count__i1.REGSET = "RESET";
    defparam count__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i2 (.D(n34[2]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[2]));
    defparam count__i2.REGSET = "RESET";
    defparam count__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i3 (.D(n34[3]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[3]));
    defparam count__i3.REGSET = "RESET";
    defparam count__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i4 (.D(n34[4]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[4]));
    defparam count__i4.REGSET = "RESET";
    defparam count__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i5 (.D(n34[5]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[5]));
    defparam count__i5.REGSET = "RESET";
    defparam count__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i6 (.D(n34[6]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[6]));
    defparam count__i6.REGSET = "RESET";
    defparam count__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i7 (.D(n34[7]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[7] ));
    defparam count__i7.REGSET = "RESET";
    defparam count__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i8 (.D(n34[8]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[8] ));
    defparam count__i8.REGSET = "RESET";
    defparam count__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i9 (.D(n34[9]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[9] ));
    defparam count__i9.REGSET = "RESET";
    defparam count__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i10 (.D(n34[10]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[10] ));
    defparam count__i10.REGSET = "RESET";
    defparam count__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i11 (.D(n34[11]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[11] ));
    defparam count__i11.REGSET = "RESET";
    defparam count__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i12 (.D(n34[12]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[12] ));
    defparam count__i12.REGSET = "RESET";
    defparam count__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i13 (.D(n34[13]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[13] ));
    defparam count__i13.REGSET = "RESET";
    defparam count__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i14 (.D(n34[14]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[14] ));
    defparam count__i14.REGSET = "RESET";
    defparam count__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i15 (.D(n34[15]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[15] ));
    defparam count__i15.REGSET = "RESET";
    defparam count__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i16 (.D(n34[16]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[16] ));
    defparam count__i16.REGSET = "RESET";
    defparam count__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i17 (.D(n34[17]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[17] ));
    defparam count__i17.REGSET = "RESET";
    defparam count__i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i18 (.D(n34[18]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[18] ));
    defparam count__i18.REGSET = "RESET";
    defparam count__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i19 (.D(n34[19]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[19] ));
    defparam count__i19.REGSET = "RESET";
    defparam count__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i20 (.D(n34[20]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[20] ));
    defparam count__i20.REGSET = "RESET";
    defparam count__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i21 (.D(n34[21]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[21] ));
    defparam count__i21.REGSET = "RESET";
    defparam count__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i22 (.D(n34[22]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[22] ));
    defparam count__i22.REGSET = "RESET";
    defparam count__i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i23 (.D(n34[23]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[23] ));
    defparam count__i23.REGSET = "RESET";
    defparam count__i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i24 (.D(n34[24]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(\scan_count[24] ));
    defparam count__i24.REGSET = "RESET";
    defparam count__i24.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    FA2 add_7_add_5_25 (.A0(GND_net), .B0(\scan_count[23] ), .C0(GND_net), 
        .D0(n867), .CI0(n867), .A1(GND_net), .B1(\scan_count[24] ), 
        .C1(GND_net), .D1(n1792), .CI1(n1792), .CO0(n1792), .S0(n132[23]), 
        .S1(n132[24]));
    defparam add_7_add_5_25.INIT0 = "0xc33c";
    defparam add_7_add_5_25.INIT1 = "0xc33c";
    FA2 add_7_add_5_23 (.A0(GND_net), .B0(\scan_count[21] ), .C0(GND_net), 
        .D0(n865), .CI0(n865), .A1(GND_net), .B1(\scan_count[22] ), 
        .C1(GND_net), .D1(n1789), .CI1(n1789), .CO0(n1789), .CO1(n867), 
        .S0(n132[21]), .S1(n132[22]));
    defparam add_7_add_5_23.INIT0 = "0xc33c";
    defparam add_7_add_5_23.INIT1 = "0xc33c";
    FA2 add_7_add_5_21 (.A0(GND_net), .B0(\scan_count[19] ), .C0(GND_net), 
        .D0(n863), .CI0(n863), .A1(GND_net), .B1(\scan_count[20] ), 
        .C1(GND_net), .D1(n1786), .CI1(n1786), .CO0(n1786), .CO1(n865), 
        .S0(n132[19]), .S1(n132[20]));
    defparam add_7_add_5_21.INIT0 = "0xc33c";
    defparam add_7_add_5_21.INIT1 = "0xc33c";
    FA2 add_7_add_5_19 (.A0(GND_net), .B0(\scan_count[17] ), .C0(GND_net), 
        .D0(n861), .CI0(n861), .A1(GND_net), .B1(\scan_count[18] ), 
        .C1(GND_net), .D1(n1783), .CI1(n1783), .CO0(n1783), .CO1(n863), 
        .S0(n132[17]), .S1(n132[18]));
    defparam add_7_add_5_19.INIT0 = "0xc33c";
    defparam add_7_add_5_19.INIT1 = "0xc33c";
    FA2 add_7_add_5_17 (.A0(GND_net), .B0(\scan_count[15] ), .C0(GND_net), 
        .D0(n859), .CI0(n859), .A1(GND_net), .B1(\scan_count[16] ), 
        .C1(GND_net), .D1(n1780), .CI1(n1780), .CO0(n1780), .CO1(n861), 
        .S0(n132[15]), .S1(n132[16]));
    defparam add_7_add_5_17.INIT0 = "0xc33c";
    defparam add_7_add_5_17.INIT1 = "0xc33c";
    FA2 add_7_add_5_15 (.A0(GND_net), .B0(\scan_count[13] ), .C0(GND_net), 
        .D0(n857), .CI0(n857), .A1(GND_net), .B1(\scan_count[14] ), 
        .C1(GND_net), .D1(n1777), .CI1(n1777), .CO0(n1777), .CO1(n859), 
        .S0(n132[13]), .S1(n132[14]));
    defparam add_7_add_5_15.INIT0 = "0xc33c";
    defparam add_7_add_5_15.INIT1 = "0xc33c";
    FA2 add_7_add_5_13 (.A0(GND_net), .B0(\scan_count[11] ), .C0(GND_net), 
        .D0(n855), .CI0(n855), .A1(GND_net), .B1(\scan_count[12] ), 
        .C1(GND_net), .D1(n1774), .CI1(n1774), .CO0(n1774), .CO1(n857), 
        .S0(n132[11]), .S1(n132[12]));
    defparam add_7_add_5_13.INIT0 = "0xc33c";
    defparam add_7_add_5_13.INIT1 = "0xc33c";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(\scan_count[9] ), .C0(GND_net), 
        .D0(n853), .CI0(n853), .A1(GND_net), .B1(\scan_count[10] ), 
        .C1(GND_net), .D1(n1771), .CI1(n1771), .CO0(n1771), .CO1(n855), 
        .S0(n132[9]), .S1(n132[10]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(\scan_count[7] ), .C0(GND_net), 
        .D0(n851), .CI0(n851), .A1(GND_net), .B1(\scan_count[8] ), .C1(GND_net), 
        .D1(n1768), .CI1(n1768), .CO0(n1768), .CO1(n853), .S0(n132[7]), 
        .S1(n132[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(scan_count[5]), .C0(GND_net), 
        .D0(n849), .CI0(n849), .A1(GND_net), .B1(scan_count[6]), .C1(GND_net), 
        .D1(n1765), .CI1(n1765), .CO0(n1765), .CO1(n851), .S0(n132[5]), 
        .S1(n132[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(scan_count[3]), .C0(GND_net), 
        .D0(n847), .CI0(n847), .A1(GND_net), .B1(scan_count[4]), .C1(GND_net), 
        .D1(n1762), .CI1(n1762), .CO0(n1762), .CO1(n849), .S0(n132[3]), 
        .S1(n132[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(scan_count[1]), .C0(GND_net), 
        .D0(n845), .CI0(n845), .A1(GND_net), .B1(scan_count[2]), .C1(GND_net), 
        .D1(n1759), .CI1(n1759), .CO0(n1759), .CO1(n847), .S0(n132[1]), 
        .S1(n132[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(scan_count[0]), .C1(VCC_net), .D1(n1714), .CI1(n1714), .CO0(n1714), 
        .CO1(n845), .S1(n132[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i19_2_lut (.A(scan_clk), 
            .B(n4), .Z(n33));
    defparam i19_2_lut.INIT = "0x6666";
    (* lut_function="(!((B)+!A))" *) LUT4 i533_2_lut (.A(n132[1]), .B(n4), 
            .Z(n34[1]));
    defparam i533_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i531_2_lut (.A(n132[2]), .B(n4), 
            .Z(n34[2]));
    defparam i531_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i529_2_lut (.A(n132[3]), .B(n4), 
            .Z(n34[3]));
    defparam i529_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i589_2_lut (.A(n132[4]), .B(n4), 
            .Z(n34[4]));
    defparam i589_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i581_2_lut (.A(n132[5]), .B(n4), 
            .Z(n34[5]));
    defparam i581_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i580_2_lut (.A(n132[6]), .B(n4), 
            .Z(n34[6]));
    defparam i580_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i568_2_lut (.A(n132[7]), .B(n4), 
            .Z(n34[7]));
    defparam i568_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i532_2_lut (.A(n132[8]), .B(n4), 
            .Z(n34[8]));
    defparam i532_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i528_2_lut (.A(n132[9]), .B(n4), 
            .Z(n34[9]));
    defparam i528_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i524_2_lut (.A(n132[10]), .B(n4), 
            .Z(n34[10]));
    defparam i524_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i590_2_lut (.A(n132[11]), .B(n4), 
            .Z(n34[11]));
    defparam i590_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i591_2_lut (.A(n132[12]), .B(n4), 
            .Z(n34[12]));
    defparam i591_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i592_2_lut (.A(n132[13]), .B(n4), 
            .Z(n34[13]));
    defparam i592_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i593_2_lut (.A(n132[14]), .B(n4), 
            .Z(n34[14]));
    defparam i593_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i594_2_lut (.A(n132[15]), .B(n4), 
            .Z(n34[15]));
    defparam i594_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i595_2_lut (.A(n132[16]), .B(n4), 
            .Z(n34[16]));
    defparam i595_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i596_2_lut (.A(n132[17]), .B(n4), 
            .Z(n34[17]));
    defparam i596_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i597_2_lut (.A(n132[18]), .B(n4), 
            .Z(n34[18]));
    defparam i597_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i598_2_lut (.A(n132[19]), .B(n4), 
            .Z(n34[19]));
    defparam i598_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i599_2_lut (.A(n132[20]), .B(n4), 
            .Z(n34[20]));
    defparam i599_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i600_2_lut (.A(n132[21]), .B(n4), 
            .Z(n34[21]));
    defparam i600_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i601_2_lut (.A(n132[22]), .B(n4), 
            .Z(n34[22]));
    defparam i601_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(\scan_count[15] ), 
            .B(\scan_count[14] ), .C(\scan_count[13] ), .Z(n543));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(!((B)+!A))" *) LUT4 i602_2_lut (.A(n132[23]), .B(n4), 
            .Z(n34[23]));
    defparam i602_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i603_2_lut (.A(n132[24]), .B(n4), 
            .Z(n34[24]));
    defparam i603_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut_adj_8 (.A(\scan_count[18] ), 
            .B(\scan_count[17] ), .C(\scan_count[16] ), .Z(n547));
    defparam i1_2_lut_3_lut_adj_8.INIT = "0x8080";
    VHI i1 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i0 (.D(n34[0]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(scan_count[0]));
    defparam count__i0.REGSET = "RESET";
    defparam count__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module \counter(WIDTH=28,MAX_COUNT=20000000) 
//

module \counter(WIDTH=28,MAX_COUNT=20000000)  (input int_osc, input n224, 
            input n3, output pwr_c);
    
    wire [27:0]count;
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [27:0]n37;
    wire [27:0]n147;
    
    wire n1729, n842, n1717, n6, n4, n4_adj_83, n1711, n4_adj_84, 
        n14, n5, n826, n13, n1050, n1735, n4_adj_85, n1057, 
        n838, n1750, n1726, n840, n836, n1747, n828, n816, n832, 
        n36, n1756, n834, n1744, n1753, n1741, n830, n1723, 
        n1738, n1732, n824, n822, n820, n818, n1720;
    
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i26 (.D(n37[26]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[26]));
    defparam count__i26.REGSET = "RESET";
    defparam count__i26.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i548_2_lut (.A(n147[24]), .B(n4_adj_84), 
            .Z(n37[24]));
    defparam i548_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i25 (.D(n37[25]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[25]));
    defparam count__i25.REGSET = "RESET";
    defparam count__i25.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i552_2_lut (.A(n147[21]), .B(n4_adj_84), 
            .Z(n37[21]));
    defparam i552_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i547_2_lut (.A(n147[25]), .B(n4_adj_84), 
            .Z(n37[25]));
    defparam i547_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(count[2]), .B(count[5]), 
            .C(count[3]), .D(count[1]), .Z(n14));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(count[0]), .B(count[6]), 
            .C(count[4]), .D(count[7]), .Z(n13));
    defparam i5_4_lut.INIT = "0x8000";
    (* lut_function="(!((B)+!A))" *) LUT4 i587_2_lut (.A(n147[3]), .B(n4_adj_84), 
            .Z(n37[3]));
    defparam i587_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B (C)))" *) LUT4 i1_3_lut (.A(count[8]), .B(n13), 
            .C(n14), .Z(n4_adj_83));
    defparam i1_3_lut.INIT = "0xeaea";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut (.A(count[11]), .B(count[10]), 
            .C(count[9]), .D(n4_adj_83), .Z(n1050));
    defparam i2_4_lut.INIT = "0x8880";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i1_4_lut (.A(count[14]), 
            .B(n1050), .C(count[13]), .D(count[12]), .Z(n4));
    defparam i1_4_lut.INIT = "0xfaea";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut_adj_4 (.A(count[15]), 
            .B(count[18]), .C(count[16]), .D(n4), .Z(n5));
    defparam i1_4_lut_adj_4.INIT = "0xfcec";
    (* lut_function="(!((B)+!A))" *) LUT4 i551_2_lut (.A(n147[22]), .B(n4_adj_84), 
            .Z(n37[22]));
    defparam i551_2_lut.INIT = "0x2222";
    (* lut_function="(A (B+(C+(D))))" *) LUT4 i1_4_lut_adj_5 (.A(count[20]), 
            .B(n5), .C(count[19]), .D(count[17]), .Z(n4_adj_85));
    defparam i1_4_lut_adj_5.INIT = "0xaaa8";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i24 (.D(n37[24]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[24]));
    defparam count__i24.REGSET = "RESET";
    defparam count__i24.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i23 (.D(n37[23]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[23]));
    defparam count__i23.REGSET = "RESET";
    defparam count__i23.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i586_2_lut (.A(n147[4]), .B(n4_adj_84), 
            .Z(n37[4]));
    defparam i586_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(count[27]), .B(count[25]), 
            .Z(n6));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(!((B)+!A))" *) LUT4 i550_2_lut (.A(n147[23]), .B(n4_adj_84), 
            .Z(n37[23]));
    defparam i550_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i585_2_lut (.A(n147[5]), .B(n4_adj_84), 
            .Z(n37[5]));
    defparam i585_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut_adj_6 (.A(count[23]), 
            .B(count[22]), .C(count[21]), .D(n4_adj_85), .Z(n1057));
    defparam i2_4_lut_adj_6.INIT = "0xfeee";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i22 (.D(n37[22]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[22]));
    defparam count__i22.REGSET = "RESET";
    defparam count__i22.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C+(D)))+!A (B+(C)))" *) LUT4 i3_4_lut (.A(n1057), 
            .B(n6), .C(count[26]), .D(count[24]), .Z(n4_adj_84));
    defparam i3_4_lut.INIT = "0xfefc";
    (* lut_function="(!((B)+!A))" *) LUT4 i556_2_lut (.A(n147[18]), .B(n4_adj_84), 
            .Z(n37[18]));
    defparam i556_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i546_2_lut (.A(n147[26]), .B(n4_adj_84), 
            .Z(n37[26]));
    defparam i546_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i21 (.D(n37[21]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[21]));
    defparam count__i21.REGSET = "RESET";
    defparam count__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i20 (.D(n37[20]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[20]));
    defparam count__i20.REGSET = "RESET";
    defparam count__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i19 (.D(n37[19]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[19]));
    defparam count__i19.REGSET = "RESET";
    defparam count__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i18 (.D(n37[18]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[18]));
    defparam count__i18.REGSET = "RESET";
    defparam count__i18.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_25 (.A0(GND_net), .B0(count[23]), .C0(GND_net), .D0(n838), 
        .CI0(n838), .A1(GND_net), .B1(count[24]), .C1(GND_net), .D1(n1750), 
        .CI1(n1750), .CO0(n1750), .CO1(n840), .S0(n147[23]), .S1(n147[24]));
    defparam add_7_add_5_25.INIT0 = "0xc33c";
    defparam add_7_add_5_25.INIT1 = "0xc33c";
    FA2 add_7_add_5_23 (.A0(GND_net), .B0(count[21]), .C0(GND_net), .D0(n836), 
        .CI0(n836), .A1(GND_net), .B1(count[22]), .C1(GND_net), .D1(n1747), 
        .CI1(n1747), .CO0(n1747), .CO1(n838), .S0(n147[21]), .S1(n147[22]));
    defparam add_7_add_5_23.INIT0 = "0xc33c";
    defparam add_7_add_5_23.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i17 (.D(n37[17]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[17]));
    defparam count__i17.REGSET = "RESET";
    defparam count__i17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i584_2_lut (.A(n147[6]), .B(n4_adj_84), 
            .Z(n37[6]));
    defparam i584_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i16 (.D(n37[16]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[16]));
    defparam count__i16.REGSET = "RESET";
    defparam count__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i15 (.D(n37[15]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[15]));
    defparam count__i15.REGSET = "RESET";
    defparam count__i15.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i583_2_lut (.A(n147[7]), .B(n4_adj_84), 
            .Z(n37[7]));
    defparam i583_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i522_2_lut (.A(n147[0]), .B(n4_adj_84), 
            .Z(n37[0]));
    defparam i522_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i582_2_lut (.A(n147[8]), .B(n4_adj_84), 
            .Z(n37[8]));
    defparam i582_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i579_2_lut (.A(n147[9]), .B(n4_adj_84), 
            .Z(n37[9]));
    defparam i579_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i2 (.D(n37[2]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[2]));
    defparam count__i2.REGSET = "RESET";
    defparam count__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i572_2_lut (.A(n147[10]), .B(n4_adj_84), 
            .Z(n37[10]));
    defparam i572_2_lut.INIT = "0x2222";
    (* lse_init_val=0, LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ clk_state (.D(n36), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(pwr_c));
    defparam clk_state.REGSET = "RESET";
    defparam clk_state.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i14 (.D(n37[14]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[14]));
    defparam count__i14.REGSET = "RESET";
    defparam count__i14.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i569_2_lut (.A(n147[11]), .B(n4_adj_84), 
            .Z(n37[11]));
    defparam i569_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i13 (.D(n37[13]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[13]));
    defparam count__i13.REGSET = "RESET";
    defparam count__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i12 (.D(n37[12]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[12]));
    defparam count__i12.REGSET = "RESET";
    defparam count__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i11 (.D(n37[11]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[11]));
    defparam count__i11.REGSET = "RESET";
    defparam count__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i10 (.D(n37[10]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[10]));
    defparam count__i10.REGSET = "RESET";
    defparam count__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i9 (.D(n37[9]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[9]));
    defparam count__i9.REGSET = "RESET";
    defparam count__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i8 (.D(n37[8]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[8]));
    defparam count__i8.REGSET = "RESET";
    defparam count__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i7 (.D(n37[7]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[7]));
    defparam count__i7.REGSET = "RESET";
    defparam count__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i6 (.D(n37[6]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[6]));
    defparam count__i6.REGSET = "RESET";
    defparam count__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i5 (.D(n37[5]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[5]));
    defparam count__i5.REGSET = "RESET";
    defparam count__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i4 (.D(n37[4]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[4]));
    defparam count__i4.REGSET = "RESET";
    defparam count__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i3 (.D(n37[3]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[3]));
    defparam count__i3.REGSET = "RESET";
    defparam count__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i27 (.D(n37[27]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[27]));
    defparam count__i27.REGSET = "RESET";
    defparam count__i27.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i1 (.D(n37[1]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[1]));
    defparam count__i1.REGSET = "RESET";
    defparam count__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    FA2 add_7_add_5_21 (.A0(GND_net), .B0(count[19]), .C0(GND_net), .D0(n834), 
        .CI0(n834), .A1(GND_net), .B1(count[20]), .C1(GND_net), .D1(n1744), 
        .CI1(n1744), .CO0(n1744), .CO1(n836), .S0(n147[19]), .S1(n147[20]));
    defparam add_7_add_5_21.INIT0 = "0xc33c";
    defparam add_7_add_5_21.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i567_2_lut (.A(n147[12]), .B(n4_adj_84), 
            .Z(n37[12]));
    defparam i567_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i566_2_lut (.A(n147[13]), .B(n4_adj_84), 
            .Z(n37[13]));
    defparam i566_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i553_2_lut (.A(n147[20]), .B(n4_adj_84), 
            .Z(n37[20]));
    defparam i553_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i564_2_lut (.A(n147[14]), .B(n4_adj_84), 
            .Z(n37[14]));
    defparam i564_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_29 (.A0(GND_net), .B0(count[27]), .C0(GND_net), .D0(n842), 
        .CI0(n842), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1756), 
        .CI1(n1756), .CO0(n1756), .S0(n147[27]));
    defparam add_7_add_5_29.INIT0 = "0xc33c";
    defparam add_7_add_5_29.INIT1 = "0xc33c";
    FA2 add_7_add_5_27 (.A0(GND_net), .B0(count[25]), .C0(GND_net), .D0(n840), 
        .CI0(n840), .A1(GND_net), .B1(count[26]), .C1(GND_net), .D1(n1753), 
        .CI1(n1753), .CO0(n1753), .CO1(n842), .S0(n147[25]), .S1(n147[26]));
    defparam add_7_add_5_27.INIT0 = "0xc33c";
    defparam add_7_add_5_27.INIT1 = "0xc33c";
    FA2 add_7_add_5_19 (.A0(GND_net), .B0(count[17]), .C0(GND_net), .D0(n832), 
        .CI0(n832), .A1(GND_net), .B1(count[18]), .C1(GND_net), .D1(n1741), 
        .CI1(n1741), .CO0(n1741), .CO1(n834), .S0(n147[17]), .S1(n147[18]));
    defparam add_7_add_5_19.INIT0 = "0xc33c";
    defparam add_7_add_5_19.INIT1 = "0xc33c";
    FA2 add_7_add_5_17 (.A0(GND_net), .B0(count[15]), .C0(GND_net), .D0(n830), 
        .CI0(n830), .A1(GND_net), .B1(count[16]), .C1(GND_net), .D1(n1738), 
        .CI1(n1738), .CO0(n1738), .CO1(n832), .S0(n147[15]), .S1(n147[16]));
    defparam add_7_add_5_17.INIT0 = "0xc33c";
    defparam add_7_add_5_17.INIT1 = "0xc33c";
    FA2 add_7_add_5_15 (.A0(GND_net), .B0(count[13]), .C0(GND_net), .D0(n828), 
        .CI0(n828), .A1(GND_net), .B1(count[14]), .C1(GND_net), .D1(n1735), 
        .CI1(n1735), .CO0(n1735), .CO1(n830), .S0(n147[13]), .S1(n147[14]));
    defparam add_7_add_5_15.INIT0 = "0xc33c";
    defparam add_7_add_5_15.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i19_2_lut (.A(pwr_c), .B(n4_adj_84), 
            .Z(n36));
    defparam i19_2_lut.INIT = "0x6666";
    FA2 add_7_add_5_13 (.A0(GND_net), .B0(count[11]), .C0(GND_net), .D0(n826), 
        .CI0(n826), .A1(GND_net), .B1(count[12]), .C1(GND_net), .D1(n1732), 
        .CI1(n1732), .CO0(n1732), .CO1(n828), .S0(n147[11]), .S1(n147[12]));
    defparam add_7_add_5_13.INIT0 = "0xc33c";
    defparam add_7_add_5_13.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i558_2_lut (.A(n147[2]), .B(n4_adj_84), 
            .Z(n37[2]));
    defparam i558_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(count[9]), .C0(GND_net), .D0(n824), 
        .CI0(n824), .A1(GND_net), .B1(count[10]), .C1(GND_net), .D1(n1729), 
        .CI1(n1729), .CO0(n1729), .CO1(n826), .S0(n147[9]), .S1(n147[10]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(count[7]), .C0(GND_net), .D0(n822), 
        .CI0(n822), .A1(GND_net), .B1(count[8]), .C1(GND_net), .D1(n1726), 
        .CI1(n1726), .CO0(n1726), .CO1(n824), .S0(n147[7]), .S1(n147[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(count[5]), .C0(GND_net), .D0(n820), 
        .CI0(n820), .A1(GND_net), .B1(count[6]), .C1(GND_net), .D1(n1723), 
        .CI1(n1723), .CO0(n1723), .CO1(n822), .S0(n147[5]), .S1(n147[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(count[3]), .C0(GND_net), .D0(n818), 
        .CI0(n818), .A1(GND_net), .B1(count[4]), .C1(GND_net), .D1(n1720), 
        .CI1(n1720), .CO0(n1720), .CO1(n820), .S0(n147[3]), .S1(n147[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(count[1]), .C0(GND_net), .D0(n816), 
        .CI0(n816), .A1(GND_net), .B1(count[2]), .C1(GND_net), .D1(n1717), 
        .CI1(n1717), .CO0(n1717), .CO1(n818), .S0(n147[1]), .S1(n147[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i563_2_lut (.A(n147[15]), .B(n4_adj_84), 
            .Z(n37[15]));
    defparam i563_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i560_2_lut (.A(n147[16]), .B(n4_adj_84), 
            .Z(n37[16]));
    defparam i560_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(count[0]), .C1(VCC_net), .D1(n1711), .CI1(n1711), .CO0(n1711), 
        .CO1(n816), .S1(n147[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i557_2_lut (.A(n147[17]), .B(n4_adj_84), 
            .Z(n37[17]));
    defparam i557_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i554_2_lut (.A(n147[19]), .B(n4_adj_84), 
            .Z(n37[19]));
    defparam i554_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i544_2_lut (.A(n147[27]), .B(n4_adj_84), 
            .Z(n37[27]));
    defparam i544_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i549_2_lut (.A(n147[1]), .B(n4_adj_84), 
            .Z(n37[1]));
    defparam i549_2_lut.INIT = "0x2222";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i0 (.D(n37[0]), 
            .SP(n224), .CK(int_osc), .SR(n3), .Q(count[0]));
    defparam count__i0.REGSET = "RESET";
    defparam count__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module sev_seg
//

module sev_seg (output [6:0]seg_c, input [3:0]sw);
    
    
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 sw_3__I_0_4_lut (.A(sw[2]), 
            .B(sw[1]), .C(sw[3]), .D(sw[0]), .Z(seg_c[0]));
    defparam sw_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))" *) LUT4 seg_c_1__I_0_4_lut (.A(sw[1]), 
            .B(sw[3]), .C(sw[2]), .D(sw[0]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))" *) LUT4 seg_c_2__I_0_4_lut (.A(sw[0]), 
            .B(sw[3]), .C(sw[1]), .D(sw[2]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))" *) LUT4 seg_c_4__I_0_4_lut (.A(sw[1]), 
            .B(sw[3]), .C(sw[0]), .D(sw[2]), .Z(seg_c[4]));
    defparam seg_c_4__I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 seg_c_5__I_0_4_lut (.A(sw[1]), 
            .B(sw[3]), .C(sw[2]), .D(sw[0]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))" *) LUT4 seg_c_6__I_0_4_lut (.A(sw[1]), 
            .B(sw[0]), .C(sw[3]), .D(sw[2]), .Z(seg_c[6]));
    defparam seg_c_6__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(B (C+(D))+!B !(C (D))))" *) LUT4 n1475_bdd_4_lut_4_lut (.A(sw[2]), 
            .B(sw[0]), .C(sw[1]), .D(sw[3]), .Z(seg_c[3]));
    defparam n1475_bdd_4_lut_4_lut.INIT = "0x9086";
    
endmodule
