// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Sat Sep 12 22:39:27 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/counter.sv"
// file 1 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/lab2top_jl.sv"
// file 2 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/scanner.sv"
// file 3 "c:/users/jesli/documents/github/e155-lab2/fpga/e155_lab2_jl/source/impl_1/sev_seg.sv"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 29 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 43 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 79 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab2top_jl
//

module lab2top_jl (input [3:0]sw1, input [3:0]sw2, input [3:0]col, input nreset, 
            input enable, output [1:0]pwr, output [6:0]seg, output [3:0]row, 
            output [3:0]led);
    
    wire [3:0]sw1_c;
    wire [3:0]sw2_c;
    wire [3:0]col_c;
    wire nreset_c;
    wire enable_c;
    wire pwr_c_N_46;
    wire [6:0]seg_c;
    wire [3:0]row_c;
    wire col_c_3__N_70;
    wire col_c_2__N_71;
    wire col_c_1__N_72;
    wire col_c_0__N_73;
    (* is_clock=1 *) wire int_osc;
    wire pwr_c;
    wire [3:0]sw;
    
    wire GND_net, VCC_net, n3, n204;
    
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A))" *) LUT4 col_c_2__I_0_1_lut (.A(col_c[2]), .Z(col_c_2__N_71));
    defparam col_c_2__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_3__I_0_1_lut (.A(col_c[3]), .Z(col_c_3__N_70));
    defparam col_c_3__I_0_1_lut.INIT = "0x5555";
    IB \sw1_pad[3]  (.I(sw1[3]), .O(sw1_c[3]));
    IB \sw1_pad[2]  (.I(sw1[2]), .O(sw1_c[2]));
    IB \sw1_pad[1]  (.I(sw1[1]), .O(sw1_c[1]));
    IB \sw1_pad[0]  (.I(sw1[0]), .O(sw1_c[0]));
    IB \sw2_pad[3]  (.I(sw2[3]), .O(sw2_c[3]));
    IB \sw2_pad[2]  (.I(sw2[2]), .O(sw2_c[2]));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_2__I_0_3_lut (.A(sw1_c[2]), 
            .B(sw2_c[2]), .C(pwr_c), .Z(sw[2]));
    defparam sw1_c_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_3__I_0_3_lut (.A(sw1_c[3]), 
            .B(sw2_c[3]), .C(pwr_c), .Z(sw[3]));
    defparam sw1_c_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_0__I_0_3_lut (.A(sw1_c[0]), 
            .B(sw2_c[0]), .C(pwr_c), .Z(sw[0]));
    defparam sw1_c_0__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 sw1_c_1__I_0_3_lut (.A(sw1_c[1]), 
            .B(sw2_c[1]), .C(pwr_c), .Z(sw[1]));
    defparam sw1_c_1__I_0_3_lut.INIT = "0xcaca";
    IB \sw2_pad[1]  (.I(sw2[1]), .O(sw2_c[1]));
    IB \sw2_pad[0]  (.I(sw2[0]), .O(sw2_c[0]));
    IB \col_pad[3]  (.I(col[3]), .O(col_c[3]));
    IB \col_pad[2]  (.I(col[2]), .O(col_c[2]));
    IB \col_pad[1]  (.I(col[1]), .O(col_c[1]));
    IB \col_pad[0]  (.I(col[0]), .O(col_c[0]));
    IB nreset_pad (.I(nreset), .O(nreset_c));
    IB enable_pad (.I(enable), .O(enable_c));
    OB \pwr_pad[1]  (.I(pwr_c_N_46), .O(pwr[1]));
    OB \pwr_pad[0]  (.I(pwr_c), .O(pwr[0]));
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    OB \row_pad[3]  (.I(row_c[3]), .O(row[3]));
    OB \row_pad[2]  (.I(row_c[2]), .O(row[2]));
    OB \row_pad[1]  (.I(row_c[1]), .O(row[1]));
    OB \row_pad[0]  (.I(row_c[0]), .O(row[0]));
    OB \led_pad[3]  (.I(col_c_3__N_70), .O(led[3]));
    OB \led_pad[2]  (.I(col_c_2__N_71), .O(led[2]));
    OB \led_pad[1]  (.I(col_c_1__N_72), .O(led[1]));
    OB \led_pad[0]  (.I(col_c_0__N_73), .O(led[0]));
    (* lut_function="(!(A))" *) LUT4 pwr_c_I_0_1_lut (.A(pwr_c), .Z(pwr_c_N_46));
    defparam pwr_c_I_0_1_lut.INIT = "0x5555";
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lut_function="(!(A))" *) LUT4 col_c_1__I_0_1_lut (.A(col_c[1]), .Z(col_c_1__N_72));
    defparam col_c_1__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_0__I_0_1_lut (.A(col_c[0]), .Z(col_c_0__N_73));
    defparam col_c_0__I_0_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=10, LSE_RCOL=3, LSE_LLINE=52, LSE_RLINE=57 *) scanner scanning ({row_c}, 
            n3, n204, int_osc, nreset_c);
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) \counter(WIDTH=20,MAX_COUNT=200000)  segment_counter (n204, 
            int_osc, n3, nreset_c, enable_c, pwr_c);
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=10, LSE_RCOL=3, LSE_LLINE=40, LSE_RLINE=43 *) sev_seg segment_decoder ({seg_c}, 
            {sw});
    
endmodule

//
// Verilog Description of module scanner
//

module scanner (output [3:0]row_c, output n3, input n204, input int_osc, 
            input nreset_c);
    
    wire [24:0]scan_count;
    wire scan_clk;
    (* is_clock=1 *) wire int_osc;
    
    wire n718, n730, n992, n4, n508, n688, n959, n505, n716, 
        n698, n724, n501, n497, n995, n997;
    
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i2_3_lut (.A(n730), .B(scan_clk), 
            .C(n718), .Z(row_c[0]));
    defparam i2_3_lut.INIT = "0x0808";
    (* lut_function="(!((B)+!A))" *) LUT4 i12_2_lut (.A(scan_clk), .B(n730), 
            .Z(row_c[1]));
    defparam i12_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut (.A(scan_count[7]), 
            .B(scan_count[10]), .C(scan_count[9]), .D(scan_count[8]), 
            .Z(n4));
    defparam i1_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut (.A(n508), .B(scan_count[11]), 
            .C(scan_count[12]), .D(n4), .Z(n959));
    defparam i2_4_lut.INIT = "0xfefa";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i622_4_lut (.A(n505), 
            .B(scan_count[18]), .C(n959), .D(scan_count[15]), .Z(n716));
    defparam i622_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i630_4_lut (.A(scan_count[20]), 
            .B(scan_count[21]), .C(n716), .D(scan_count[19]), .Z(n724));
    defparam i630_4_lut.INIT = "0xeccc";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut_adj_8 (.A(scan_count[24]), 
            .B(n724), .C(scan_count[23]), .D(scan_count[22]), .Z(n730));
    defparam i2_4_lut_adj_8.INIT = "0xfefa";
    (* lut_function="(A (B))" *) LUT4 i594_2_lut (.A(scan_count[8]), .B(scan_count[9]), 
            .Z(n688));
    defparam i594_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i604_4_lut (.A(n688), 
            .B(n497), .C(n992), .D(scan_count[10]), .Z(n698));
    defparam i604_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_9 (.A(n698), 
            .B(n995), .C(scan_count[19]), .D(n501), .Z(n997));
    defparam i1_4_lut_adj_9.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i624_4_lut (.A(n997), 
            .B(scan_count[24]), .C(scan_count[23]), .D(scan_count[22]), 
            .Z(n718));
    defparam i624_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(scan_count[17]), .B(scan_count[16]), 
            .Z(n505));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_10 (.A(scan_count[14]), 
            .B(scan_count[13]), .Z(n508));
    defparam i1_2_lut_adj_10.INIT = "0xeeee";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i1000_3_lut_3_lut (.A(scan_clk), 
            .B(n730), .C(n718), .Z(row_c[2]));
    defparam i1000_3_lut_3_lut.INIT = "0x0404";
    (* lut_function="(A (C)+!A ((C)+!B))" *) LUT4 i998_2_lut_3_lut (.A(scan_clk), 
            .B(n730), .C(n718), .Z(row_c[3]));
    defparam i998_2_lut_3_lut.INIT = "0xf1f1";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) \counter(MAX_COUNT=12000000)  scanner_counter (scan_count[16], 
            scan_count[7], scan_count[10], n3, scan_count[9], scan_count[8], 
            scan_count[21], scan_count[15], n497, n992, scan_clk, 
            n995, scan_count[19], n501, scan_count[11], n204, int_osc, 
            scan_count[24], scan_count[23], scan_count[22], nreset_c, 
            scan_count[18], scan_count[17], scan_count[12], scan_count[13], 
            scan_count[14], scan_count[20]);
    
endmodule

//
// Verilog Description of module \counter(MAX_COUNT=12000000) 
//

module \counter(MAX_COUNT=12000000)  (output \scan_count[16] , output \scan_count[7] , 
            output \scan_count[10] , output n3, output \scan_count[9] , 
            output \scan_count[8] , output \scan_count[21] , output \scan_count[15] , 
            output n497, output n992, output scan_clk, output n995, 
            output \scan_count[19] , output n501, output \scan_count[11] , 
            input n204, input int_osc, output \scan_count[24] , output \scan_count[23] , 
            output \scan_count[22] , input nreset_c, output \scan_count[18] , 
            output \scan_count[17] , output \scan_count[12] , output \scan_count[13] , 
            output \scan_count[14] , output \scan_count[20] );
    
    wire [24:0]scan_count;
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [24:0]n132;
    wire [24:0]n34;
    
    wire n996, n4, n796, n13, n1553, n14, n20, n1589, n498, 
        n792, n33, n776, n786, n1595, n782, n784, n798, n1607, 
        n790, n1604, n780, n794, n1601, n1598, n788, n1592, 
        n1586, n1583, n1580, n778, n1577, n1574;
    
    (* lut_function="(!((B)+!A))" *) LUT4 i514_2_lut (.A(n132[1]), .B(n4), 
            .Z(n34[1]));
    defparam i514_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(scan_count[0]), 
            .B(scan_count[6]), .C(scan_count[4]), .D(\scan_count[7] ), 
            .Z(n13));
    defparam i5_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i129_4_lut (.A(n13), 
            .B(\scan_count[9] ), .C(\scan_count[8] ), .D(n14), .Z(n20));
    defparam i129_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(n20), 
            .B(n497), .C(n992), .D(\scan_count[10] ), .Z(n498));
    defparam i1_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_5 (.A(n498), 
            .B(n995), .C(\scan_count[19] ), .D(n501), .Z(n996));
    defparam i1_4_lut_adj_5.INIT = "0xc8c0";
    (* lse_init_val=0, LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ clk_state (.D(n33), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_clk));
    defparam clk_state.REGSET = "RESET";
    defparam clk_state.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i120_4_lut (.A(n996), 
            .B(\scan_count[24] ), .C(\scan_count[23] ), .D(\scan_count[22] ), 
            .Z(n4));
    defparam i120_4_lut.INIT = "0xfcec";
    (* lut_function="(!((B)+!A))" *) LUT4 i487_2_lut (.A(n132[0]), .B(n4), 
            .Z(n34[0]));
    defparam i487_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i1 (.D(n34[1]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[1]));
    defparam count__i1.REGSET = "RESET";
    defparam count__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i19_2_lut (.A(scan_clk), 
            .B(n4), .Z(n33));
    defparam i19_2_lut.INIT = "0x6666";
    (* lut_function="(!(A))" *) LUT4 i5_1_lut (.A(nreset_c), .Z(n3));
    defparam i5_1_lut.INIT = "0x5555";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(scan_count[0]), .C1(VCC_net), .D1(n1553), .CI1(n1553), .CO0(n1553), 
        .CO1(n776), .S1(n132[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i2 (.D(n34[2]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[2]));
    defparam count__i2.REGSET = "RESET";
    defparam count__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i3 (.D(n34[3]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[3]));
    defparam count__i3.REGSET = "RESET";
    defparam count__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i4 (.D(n34[4]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[4]));
    defparam count__i4.REGSET = "RESET";
    defparam count__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i5 (.D(n34[5]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[5]));
    defparam count__i5.REGSET = "RESET";
    defparam count__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i6 (.D(n34[6]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[6]));
    defparam count__i6.REGSET = "RESET";
    defparam count__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i7 (.D(n34[7]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[7] ));
    defparam count__i7.REGSET = "RESET";
    defparam count__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i8 (.D(n34[8]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[8] ));
    defparam count__i8.REGSET = "RESET";
    defparam count__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i9 (.D(n34[9]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[9] ));
    defparam count__i9.REGSET = "RESET";
    defparam count__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i10 (.D(n34[10]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[10] ));
    defparam count__i10.REGSET = "RESET";
    defparam count__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i11 (.D(n34[11]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[11] ));
    defparam count__i11.REGSET = "RESET";
    defparam count__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i12 (.D(n34[12]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[12] ));
    defparam count__i12.REGSET = "RESET";
    defparam count__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i13 (.D(n34[13]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[13] ));
    defparam count__i13.REGSET = "RESET";
    defparam count__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i14 (.D(n34[14]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[14] ));
    defparam count__i14.REGSET = "RESET";
    defparam count__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i15 (.D(n34[15]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[15] ));
    defparam count__i15.REGSET = "RESET";
    defparam count__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i16 (.D(n34[16]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[16] ));
    defparam count__i16.REGSET = "RESET";
    defparam count__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i17 (.D(n34[17]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[17] ));
    defparam count__i17.REGSET = "RESET";
    defparam count__i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i18 (.D(n34[18]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[18] ));
    defparam count__i18.REGSET = "RESET";
    defparam count__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i19 (.D(n34[19]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[19] ));
    defparam count__i19.REGSET = "RESET";
    defparam count__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i20 (.D(n34[20]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[20] ));
    defparam count__i20.REGSET = "RESET";
    defparam count__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i21 (.D(n34[21]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[21] ));
    defparam count__i21.REGSET = "RESET";
    defparam count__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i22 (.D(n34[22]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[22] ));
    defparam count__i22.REGSET = "RESET";
    defparam count__i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i23 (.D(n34[23]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[23] ));
    defparam count__i23.REGSET = "RESET";
    defparam count__i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i24 (.D(n34[24]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(\scan_count[24] ));
    defparam count__i24.REGSET = "RESET";
    defparam count__i24.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(\scan_count[21] ), .B(\scan_count[20] ), 
            .Z(n995));
    defparam i1_2_lut.INIT = "0x8888";
    FA2 add_7_add_5_25 (.A0(GND_net), .B0(\scan_count[23] ), .C0(GND_net), 
        .D0(n798), .CI0(n798), .A1(GND_net), .B1(\scan_count[24] ), 
        .C1(GND_net), .D1(n1607), .CI1(n1607), .CO0(n1607), .S0(n132[23]), 
        .S1(n132[24]));
    defparam add_7_add_5_25.INIT0 = "0xc33c";
    defparam add_7_add_5_25.INIT1 = "0xc33c";
    FA2 add_7_add_5_23 (.A0(GND_net), .B0(\scan_count[21] ), .C0(GND_net), 
        .D0(n796), .CI0(n796), .A1(GND_net), .B1(\scan_count[22] ), 
        .C1(GND_net), .D1(n1604), .CI1(n1604), .CO0(n1604), .CO1(n798), 
        .S0(n132[21]), .S1(n132[22]));
    defparam add_7_add_5_23.INIT0 = "0xc33c";
    defparam add_7_add_5_23.INIT1 = "0xc33c";
    FA2 add_7_add_5_21 (.A0(GND_net), .B0(\scan_count[19] ), .C0(GND_net), 
        .D0(n794), .CI0(n794), .A1(GND_net), .B1(\scan_count[20] ), 
        .C1(GND_net), .D1(n1601), .CI1(n1601), .CO0(n1601), .CO1(n796), 
        .S0(n132[19]), .S1(n132[20]));
    defparam add_7_add_5_21.INIT0 = "0xc33c";
    defparam add_7_add_5_21.INIT1 = "0xc33c";
    FA2 add_7_add_5_19 (.A0(GND_net), .B0(\scan_count[17] ), .C0(GND_net), 
        .D0(n792), .CI0(n792), .A1(GND_net), .B1(\scan_count[18] ), 
        .C1(GND_net), .D1(n1598), .CI1(n1598), .CO0(n1598), .CO1(n794), 
        .S0(n132[17]), .S1(n132[18]));
    defparam add_7_add_5_19.INIT0 = "0xc33c";
    defparam add_7_add_5_19.INIT1 = "0xc33c";
    FA2 add_7_add_5_17 (.A0(GND_net), .B0(\scan_count[15] ), .C0(GND_net), 
        .D0(n790), .CI0(n790), .A1(GND_net), .B1(\scan_count[16] ), 
        .C1(GND_net), .D1(n1595), .CI1(n1595), .CO0(n1595), .CO1(n792), 
        .S0(n132[15]), .S1(n132[16]));
    defparam add_7_add_5_17.INIT0 = "0xc33c";
    defparam add_7_add_5_17.INIT1 = "0xc33c";
    FA2 add_7_add_5_15 (.A0(GND_net), .B0(\scan_count[13] ), .C0(GND_net), 
        .D0(n788), .CI0(n788), .A1(GND_net), .B1(\scan_count[14] ), 
        .C1(GND_net), .D1(n1592), .CI1(n1592), .CO0(n1592), .CO1(n790), 
        .S0(n132[13]), .S1(n132[14]));
    defparam add_7_add_5_15.INIT0 = "0xc33c";
    defparam add_7_add_5_15.INIT1 = "0xc33c";
    FA2 add_7_add_5_13 (.A0(GND_net), .B0(\scan_count[11] ), .C0(GND_net), 
        .D0(n786), .CI0(n786), .A1(GND_net), .B1(\scan_count[12] ), 
        .C1(GND_net), .D1(n1589), .CI1(n1589), .CO0(n1589), .CO1(n788), 
        .S0(n132[11]), .S1(n132[12]));
    defparam add_7_add_5_13.INIT0 = "0xc33c";
    defparam add_7_add_5_13.INIT1 = "0xc33c";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(\scan_count[9] ), .C0(GND_net), 
        .D0(n784), .CI0(n784), .A1(GND_net), .B1(\scan_count[10] ), 
        .C1(GND_net), .D1(n1586), .CI1(n1586), .CO0(n1586), .CO1(n786), 
        .S0(n132[9]), .S1(n132[10]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(\scan_count[7] ), .C0(GND_net), 
        .D0(n782), .CI0(n782), .A1(GND_net), .B1(\scan_count[8] ), .C1(GND_net), 
        .D1(n1583), .CI1(n1583), .CO0(n1583), .CO1(n784), .S0(n132[7]), 
        .S1(n132[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(scan_count[5]), .C0(GND_net), 
        .D0(n780), .CI0(n780), .A1(GND_net), .B1(scan_count[6]), .C1(GND_net), 
        .D1(n1580), .CI1(n1580), .CO0(n1580), .CO1(n782), .S0(n132[5]), 
        .S1(n132[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(scan_count[3]), .C0(GND_net), 
        .D0(n778), .CI0(n778), .A1(GND_net), .B1(scan_count[4]), .C1(GND_net), 
        .D1(n1577), .CI1(n1577), .CO0(n1577), .CO1(n780), .S0(n132[3]), 
        .S1(n132[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(scan_count[1]), .C0(GND_net), 
        .D0(n776), .CI0(n776), .A1(GND_net), .B1(scan_count[2]), .C1(GND_net), 
        .D1(n1574), .CI1(n1574), .CO0(n1574), .CO1(n778), .S0(n132[1]), 
        .S1(n132[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_6 (.A(\scan_count[12] ), 
            .B(\scan_count[11] ), .Z(n992));
    defparam i1_2_lut_adj_6.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(scan_count[2]), 
            .B(scan_count[5]), .C(scan_count[3]), .D(scan_count[1]), .Z(n14));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(!((B)+!A))" *) LUT4 i501_2_lut (.A(n132[2]), .B(n4), 
            .Z(n34[2]));
    defparam i501_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i497_2_lut (.A(n132[3]), .B(n4), 
            .Z(n34[3]));
    defparam i497_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i495_2_lut (.A(n132[4]), .B(n4), 
            .Z(n34[4]));
    defparam i495_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i493_2_lut (.A(n132[5]), .B(n4), 
            .Z(n34[5]));
    defparam i493_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i491_2_lut (.A(n132[6]), .B(n4), 
            .Z(n34[6]));
    defparam i491_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i490_2_lut (.A(n132[7]), .B(n4), 
            .Z(n34[7]));
    defparam i490_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i549_2_lut (.A(n132[8]), .B(n4), 
            .Z(n34[8]));
    defparam i549_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i548_2_lut (.A(n132[9]), .B(n4), 
            .Z(n34[9]));
    defparam i548_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i546_2_lut (.A(n132[10]), .B(n4), 
            .Z(n34[10]));
    defparam i546_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i545_2_lut (.A(n132[11]), .B(n4), 
            .Z(n34[11]));
    defparam i545_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i543_2_lut (.A(n132[12]), .B(n4), 
            .Z(n34[12]));
    defparam i543_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i542_2_lut (.A(n132[13]), .B(n4), 
            .Z(n34[13]));
    defparam i542_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i540_2_lut (.A(n132[14]), .B(n4), 
            .Z(n34[14]));
    defparam i540_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i520_2_lut (.A(n132[15]), .B(n4), 
            .Z(n34[15]));
    defparam i520_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i513_2_lut (.A(n132[16]), .B(n4), 
            .Z(n34[16]));
    defparam i513_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i496_2_lut (.A(n132[17]), .B(n4), 
            .Z(n34[17]));
    defparam i496_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i492_2_lut (.A(n132[18]), .B(n4), 
            .Z(n34[18]));
    defparam i492_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i488_2_lut (.A(n132[19]), .B(n4), 
            .Z(n34[19]));
    defparam i488_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i550_2_lut (.A(n132[20]), .B(n4), 
            .Z(n34[20]));
    defparam i550_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i547_2_lut (.A(n132[21]), .B(n4), 
            .Z(n34[21]));
    defparam i547_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i544_2_lut (.A(n132[22]), .B(n4), 
            .Z(n34[22]));
    defparam i544_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(\scan_count[15] ), 
            .B(\scan_count[14] ), .C(\scan_count[13] ), .Z(n497));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(!((B)+!A))" *) LUT4 i541_2_lut (.A(n132[23]), .B(n4), 
            .Z(n34[23]));
    defparam i541_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i512_2_lut (.A(n132[24]), .B(n4), 
            .Z(n34[24]));
    defparam i512_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut_adj_7 (.A(\scan_count[18] ), 
            .B(\scan_count[17] ), .C(\scan_count[16] ), .Z(n501));
    defparam i1_2_lut_3_lut_adj_7.INIT = "0x8080";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=29, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=21, LSE_RLINE=27 *) FD1P3XZ count__i0 (.D(n34[0]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(scan_count[0]));
    defparam count__i0.REGSET = "RESET";
    defparam count__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module \counter(WIDTH=20,MAX_COUNT=200000) 
//

module \counter(WIDTH=20,MAX_COUNT=200000)  (output n204, input int_osc, 
            input n3, input nreset_c, input enable_c, output pwr_c);
    
    wire [19:0]count;
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [19:0]n29;
    
    wire n957, n1568, n4, n1550;
    wire [19:0]n107;
    
    wire n1559, n1562, n761, n28, n10, n1556, n4_adj_75, n763, 
        n18, n8, n945, n1544, n1571, n773, n755, n771, n769, 
        n1565, n767, n765, n759, n1547, n757, n1541, n1538;
    
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i7 (.D(n29[7]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[7]));
    defparam count__i7.REGSET = "RESET";
    defparam count__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i0 (.D(n29[0]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[0]));
    defparam count__i0.REGSET = "RESET";
    defparam count__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i6 (.D(n29[6]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[6]));
    defparam count__i6.REGSET = "RESET";
    defparam count__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i5 (.D(n29[5]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[5]));
    defparam count__i5.REGSET = "RESET";
    defparam count__i5.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i510_2_lut (.A(n107[19]), .B(n4), 
            .Z(n29[19]));
    defparam i510_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i553_2_lut (.A(n107[6]), .B(n4), 
            .Z(n29[6]));
    defparam i553_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i534_2_lut (.A(n107[11]), .B(n4), 
            .Z(n29[11]));
    defparam i534_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i4 (.D(n29[4]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[4]));
    defparam count__i4.REGSET = "RESET";
    defparam count__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i19_2_lut (.A(pwr_c), .B(n4), 
            .Z(n28));
    defparam i19_2_lut.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i3 (.D(n29[3]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[3]));
    defparam count__i3.REGSET = "RESET";
    defparam count__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i2 (.D(n29[2]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[2]));
    defparam count__i2.REGSET = "RESET";
    defparam count__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i532_2_lut (.A(n107[12]), .B(n4), 
            .Z(n29[12]));
    defparam i532_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i1 (.D(n29[1]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[1]));
    defparam count__i1.REGSET = "RESET";
    defparam count__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i10 (.D(n29[10]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[10]));
    defparam count__i10.REGSET = "RESET";
    defparam count__i10.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i531_2_lut (.A(n107[13]), .B(n4), 
            .Z(n29[13]));
    defparam i531_2_lut.INIT = "0x2222";
    (* lse_init_val=0, LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ clk_state (.D(n28), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(pwr_c));
    defparam clk_state.REGSET = "RESET";
    defparam clk_state.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i537_2_lut (.A(n107[10]), .B(n4), 
            .Z(n29[10]));
    defparam i537_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i484_2_lut (.A(n107[0]), .B(n4), 
            .Z(n29[0]));
    defparam i484_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4_4_lut (.A(count[2]), .B(count[1]), 
            .C(count[0]), .D(count[4]), .Z(n10));
    defparam i4_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C)))" *) LUT4 i5_3_lut (.A(count[5]), .B(n10), 
            .C(count[3]), .Z(n945));
    defparam i5_3_lut.INIT = "0x8080";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i142_4_lut (.A(count[7]), 
            .B(count[8]), .C(count[6]), .D(n945), .Z(n18));
    defparam i142_4_lut.INIT = "0xccc8";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut (.A(count[11]), .B(count[10]), 
            .C(n18), .D(count[9]), .Z(n957));
    defparam i2_4_lut.INIT = "0x8880";
    (* lut_function="(!((B)+!A))" *) LUT4 i509_2_lut (.A(n107[1]), .B(n4), 
            .Z(n29[1]));
    defparam i509_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B+(C)))" *) LUT4 i3_3_lut (.A(count[15]), .B(count[14]), 
            .C(count[12]), .Z(n8));
    defparam i3_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B+(C+(D))))" *) LUT4 i1_4_lut (.A(count[16]), .B(count[13]), 
            .C(n8), .D(n957), .Z(n4_adj_75));
    defparam i1_4_lut.INIT = "0xaaa8";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut_adj_4 (.A(count[19]), 
            .B(count[18]), .C(count[17]), .D(n4_adj_75), .Z(n4));
    defparam i2_4_lut_adj_4.INIT = "0xfeee";
    (* lut_function="(!((B)+!A))" *) LUT4 i533_2_lut (.A(n107[2]), .B(n4), 
            .Z(n29[2]));
    defparam i533_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i522_2_lut (.A(n107[14]), .B(n4), 
            .Z(n29[14]));
    defparam i522_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i552_2_lut (.A(n107[7]), .B(n4), 
            .Z(n29[7]));
    defparam i552_2_lut.INIT = "0x2222";
    (* lut_function="((B)+!A)" *) LUT4 i343_2_lut (.A(nreset_c), .B(enable_c), 
            .Z(n204));
    defparam i343_2_lut.INIT = "0xdddd";
    (* lut_function="(!((B)+!A))" *) LUT4 i521_2_lut (.A(n107[15]), .B(n4), 
            .Z(n29[15]));
    defparam i521_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i517_2_lut (.A(n107[16]), .B(n4), 
            .Z(n29[16]));
    defparam i517_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_21 (.A0(GND_net), .B0(count[19]), .C0(GND_net), .D0(n773), 
        .CI0(n773), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1571), 
        .CI1(n1571), .CO0(n1571), .S0(n107[19]));
    defparam add_7_add_5_21.INIT0 = "0xc33c";
    defparam add_7_add_5_21.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i551_2_lut (.A(n107[8]), .B(n4), 
            .Z(n29[8]));
    defparam i551_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i515_2_lut (.A(n107[17]), .B(n4), 
            .Z(n29[17]));
    defparam i515_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i19 (.D(n29[19]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[19]));
    defparam count__i19.REGSET = "RESET";
    defparam count__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i18 (.D(n29[18]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[18]));
    defparam count__i18.REGSET = "RESET";
    defparam count__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i17 (.D(n29[17]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[17]));
    defparam count__i17.REGSET = "RESET";
    defparam count__i17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i556_2_lut (.A(n107[3]), .B(n4), 
            .Z(n29[3]));
    defparam i556_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i16 (.D(n29[16]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[16]));
    defparam count__i16.REGSET = "RESET";
    defparam count__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i15 (.D(n29[15]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[15]));
    defparam count__i15.REGSET = "RESET";
    defparam count__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i14 (.D(n29[14]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[14]));
    defparam count__i14.REGSET = "RESET";
    defparam count__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i13 (.D(n29[13]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[13]));
    defparam count__i13.REGSET = "RESET";
    defparam count__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i12 (.D(n29[12]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[12]));
    defparam count__i12.REGSET = "RESET";
    defparam count__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i11 (.D(n29[11]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[11]));
    defparam count__i11.REGSET = "RESET";
    defparam count__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i9 (.D(n29[9]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[9]));
    defparam count__i9.REGSET = "RESET";
    defparam count__i9.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_19 (.A0(GND_net), .B0(count[17]), .C0(GND_net), .D0(n771), 
        .CI0(n771), .A1(GND_net), .B1(count[18]), .C1(GND_net), .D1(n1568), 
        .CI1(n1568), .CO0(n1568), .CO1(n773), .S0(n107[17]), .S1(n107[18]));
    defparam add_7_add_5_19.INIT0 = "0xc33c";
    defparam add_7_add_5_19.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i555_2_lut (.A(n107[4]), .B(n4), 
            .Z(n29[4]));
    defparam i555_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i554_2_lut (.A(n107[5]), .B(n4), 
            .Z(n29[5]));
    defparam i554_2_lut.INIT = "0x2222";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!((B)+!A))" *) LUT4 i511_2_lut (.A(n107[18]), .B(n4), 
            .Z(n29[18]));
    defparam i511_2_lut.INIT = "0x2222";
    FA2 add_7_add_5_17 (.A0(GND_net), .B0(count[15]), .C0(GND_net), .D0(n769), 
        .CI0(n769), .A1(GND_net), .B1(count[16]), .C1(GND_net), .D1(n1565), 
        .CI1(n1565), .CO0(n1565), .CO1(n771), .S0(n107[15]), .S1(n107[16]));
    defparam add_7_add_5_17.INIT0 = "0xc33c";
    defparam add_7_add_5_17.INIT1 = "0xc33c";
    FA2 add_7_add_5_15 (.A0(GND_net), .B0(count[13]), .C0(GND_net), .D0(n767), 
        .CI0(n767), .A1(GND_net), .B1(count[14]), .C1(GND_net), .D1(n1562), 
        .CI1(n1562), .CO0(n1562), .CO1(n769), .S0(n107[13]), .S1(n107[14]));
    defparam add_7_add_5_15.INIT0 = "0xc33c";
    defparam add_7_add_5_15.INIT1 = "0xc33c";
    FA2 add_7_add_5_13 (.A0(GND_net), .B0(count[11]), .C0(GND_net), .D0(n765), 
        .CI0(n765), .A1(GND_net), .B1(count[12]), .C1(GND_net), .D1(n1559), 
        .CI1(n1559), .CO0(n1559), .CO1(n767), .S0(n107[11]), .S1(n107[12]));
    defparam add_7_add_5_13.INIT0 = "0xc33c";
    defparam add_7_add_5_13.INIT1 = "0xc33c";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(count[9]), .C0(GND_net), .D0(n763), 
        .CI0(n763), .A1(GND_net), .B1(count[10]), .C1(GND_net), .D1(n1556), 
        .CI1(n1556), .CO0(n1556), .CO1(n765), .S0(n107[9]), .S1(n107[10]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(count[7]), .C0(GND_net), .D0(n761), 
        .CI0(n761), .A1(GND_net), .B1(count[8]), .C1(GND_net), .D1(n1550), 
        .CI1(n1550), .CO0(n1550), .CO1(n763), .S0(n107[7]), .S1(n107[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(count[5]), .C0(GND_net), .D0(n759), 
        .CI0(n759), .A1(GND_net), .B1(count[6]), .C1(GND_net), .D1(n1547), 
        .CI1(n1547), .CO0(n1547), .CO1(n761), .S0(n107[5]), .S1(n107[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(count[3]), .C0(GND_net), .D0(n757), 
        .CI0(n757), .A1(GND_net), .B1(count[4]), .C1(GND_net), .D1(n1544), 
        .CI1(n1544), .CO0(n1544), .CO1(n759), .S0(n107[3]), .S1(n107[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(count[1]), .C0(GND_net), .D0(n755), 
        .CI0(n755), .A1(GND_net), .B1(count[2]), .C1(GND_net), .D1(n1541), 
        .CI1(n1541), .CO0(n1541), .CO1(n757), .S0(n107[1]), .S1(n107[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(count[0]), .C1(VCC_net), .D1(n1538), .CI1(n1538), .CO0(n1538), 
        .CO1(n755), .S1(n107[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i538_2_lut (.A(n107[9]), .B(n4), 
            .Z(n29[9]));
    defparam i538_2_lut.INIT = "0x2222";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=27, LSE_LCOL=4, LSE_RCOL=3, LSE_LLINE=31, LSE_RLINE=37 *) FD1P3XZ count__i8 (.D(n29[8]), 
            .SP(n204), .CK(int_osc), .SR(n3), .Q(count[8]));
    defparam count__i8.REGSET = "RESET";
    defparam count__i8.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module sev_seg
//

module sev_seg (output [6:0]seg_c, input [3:0]sw);
    
    
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 sw_3__I_0_4_lut (.A(sw[2]), 
            .B(sw[1]), .C(sw[3]), .D(sw[0]), .Z(seg_c[0]));
    defparam sw_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))" *) LUT4 seg_c_1__I_0_4_lut (.A(sw[1]), 
            .B(sw[3]), .C(sw[2]), .D(sw[0]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))" *) LUT4 seg_c_2__I_0_4_lut (.A(sw[0]), 
            .B(sw[3]), .C(sw[1]), .D(sw[2]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))" *) LUT4 seg_c_4__I_0_4_lut (.A(sw[1]), 
            .B(sw[3]), .C(sw[0]), .D(sw[2]), .Z(seg_c[4]));
    defparam seg_c_4__I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 seg_c_5__I_0_4_lut (.A(sw[1]), 
            .B(sw[3]), .C(sw[2]), .D(sw[0]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))" *) LUT4 seg_c_6__I_0_4_lut (.A(sw[1]), 
            .B(sw[0]), .C(sw[3]), .D(sw[2]), .Z(seg_c[6]));
    defparam seg_c_6__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(B (C+(D))+!B !(C (D))))" *) LUT4 n1334_bdd_4_lut_4_lut (.A(sw[2]), 
            .B(sw[0]), .C(sw[1]), .D(sw[3]), .Z(seg_c[3]));
    defparam n1334_bdd_4_lut_4_lut.INIT = "0x9086";
    
endmodule
